@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   list-style-type: none;
   font-family: 'Work Sans', sans-serif;
}

img{
    width: 100%;
}

body{
    max-width: 1140px;
}

.flex{
    display: flex;
}


@media screen and (max-width:576px) {
    
}

@media screen and (min-width:577px) and (max-width:786px) {
    
}