@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   list-style-type: none;
   font-family: 'Work Sans', sans-serif;
}

/* Universal Style */

body{
    max-width: 1440px;
    margin: 0 auto;
}


img{
    width: 100%;
}


.text-gray{
color: #727272;}

.justify-content-center{
    justify-content: center;
}

.justify-content-space{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

.btn-orange{
    border: 0;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 10px;
    color: whitesmoke;
}

.text-center{
    text-align: center;
}

/* Header Desgain */

header{
    padding: 50px 180px;
    background: rgba(255, 144, 14, 0.10);
}
main{
    padding: 50px 180px; 
}

nav ul li{
    margin-right: 30px;
}

nav ul a{
    color: #424242;
    font-weight: 500;
    font-size: 1rem;
}

.logo{
    font-size: 2.8rem;
    font-weight: 700;
}

.text-45{
    font-size: 2.8rem; 
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700px;
    margin-bottom: 1%;
}
.banner-content{
    max-width: 800px;
    margin: 2% auto;
}

.banner{
    margin-top: 3%;
}
.banner p{
    margin-bottom: 2%;
}

/* Main Desgain */
 
    /* Quick list section */
    .quick-list-section,.quick-list-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
      column-gap: 3%;
  
    
    }

    .quick-list-img-container img{
        margin-bottom: 5%;
    }
   

    .quick-list-content{
        padding: 0px 7%;
    }
    .quick-list-content h1{
        font-size: 2.5rem;
        color: #FF900E;
    }

    .quick-list-content p{
        margin: 10px 0px;
    }

    .quick-list{
        
        font-weight: 500;
    }

    .of-our{
        color: black;
    }
    
    .some-fact{
        margin: 3% 0%;
    }
/* Card section */

.card-container{
    display: grid;
    grid-template-columns: repeat(4,187px);
    justify-content: space-around;
    margin: 80px auto;
}
    .card-container .card{
 border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px;


    }

    .card img{
        height: 50px;
        width: 50px;
    }

    .sponsor{
        max-width: 400px;
        margin: 0 auto;
    }

/* log styles */
.sponsor-logos{
    display: grid;
    grid-template-columns: repeat(5,auto);
   
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: space-evenly;

}
.s-logo{
    max-width: 100px;
}

/* copyright style */
.copyright{
    background-color: #FFF4E7;
    padding: 39px;
}
.copyright-text{
    font-size: 20px;
    color: #424242;
    font-weight: 400;
    text-align: center;
}



@media screen and (max-width:576px) {
    
    nav{
        flex-direction: column;
        text-align: center;
    }
    .banner-title{
        font-size:3rem ;
    }

    header,main{
        padding: 50px 10px;
    }



    .logo{font-size: 2.5rem;}

    .btn-orange{
       
        padding: 15px 20px;
    }
    .quick-list-section{
        grid-template-columns: repeat(1,1fr);
       
    
    }

    .quick-list-content{margin: 15px 0px;
        order: 1;
        text-align: center;
    
    }

    .quick-list-img-container{
        order: 2;
        grid-template-columns: repeat(1,1fr);
    
    }
.card-container{
    grid-template-columns: repeat(1,1fr);
   
    margin: 40px auto;
   
}
.card{
    margin-bottom: 4%;
}
.sponsor-logos{
    grid-template-columns: repeat(1,auto);
   gap: 20px;
}
  
}



@media screen and (min-width:577px) and (max-width:992px) {
    header,main{
        padding: 50px 30px;
    }
    .logo{font-size: 2.5rem;}

   .quick-list-section{
    grid-template-columns: repeat(1,1fr);
   }

   .quick-list-content{
    text-align: center;
    order: 0;
   }

   .quick-list-img-container{order: 1;}
   .card-container{
    grid-template-columns: repeat(2,auto);
    row-gap: 15%;

}
}