@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   list-style-type: none;
   font-family: 'Work Sans', sans-serif;
}

/* Universal Style */

img{
    width: 100%;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

.btn-orange{
    border: 0;
    background-color: coral;
    padding: 20px 25px;
    border-radius: 10px;
    color: whitesmoke;
}

.text-center{
    text-align: center;
}

/* Header Desgain */

header{
    padding: 50px 180px;
    background: rgba(255, 144, 14, 0.10);
}
main{
    padding: 50px 180px; 
}

nav ul li{
    margin-right: 30px;
}

nav ul a{
    color: #424242;
    font-weight: 500;
    font-size: 1rem;
}

.logo{
    font-size: 2.8rem;
    font-weight: 700;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700px;
    margin-bottom: 1%;
}
.banner-content{
    max-width: 800px;
    margin: 2% auto;
}

.banner{
    margin-top: 3%;
}
.banner p{
    margin-bottom: 2%;
}

/* Main Desgain */
 
    /* Quick list section */
    .quick-list-section,.quick-list-img-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 3%;

    
    }

    .quick-list-content p{
        margin: 10px 0px;
    }


@media screen and (max-width:576px) {
    
    nav{
        flex-direction: column;
        text-align: center;
    }
    .banner-title{
        font-size:3rem ;
    }

    header,main{
        padding: 50px 10px;
    }



    .logo{font-size: 2.5rem;}

    .btn-orange{
       
        padding: 15px 20px;
    }
    .quick-list-section{
        grid-template-columns: repeat(1,1fr);
       
    
    }

    .quick-list-content{margin: 15px 0px;}

  
}

@media screen and (min-width:577px) and (max-width:992px) {
    header,main{
        padding: 50px 30px;
    }
    .logo{font-size: 2.5rem;}
}